<template>
  <ToastProvider>
    <header>
      <Header></Header>
    </header>
    <main>
      <router-view></router-view>
    </main>

    <ToastViewport class="flopui-toast-container" />
  </ToastProvider>
</template>

<script setup lang="ts">
import { ToastProvider, ToastViewport } from 'radix-vue'
import Header from '@/components/Header.vue'
</script>

<style>
.flopui-toast-container {
  --viewport-padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 10px;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
}
</style>
