@import './assets/fonts/fontface.css';

:root {
  /*** Grayscale ***/
  --color-black: rgb(var(--color-black-rgb));
  --color-black-rgb: 0, 0, 0;

  --color-not-quite-black: rgb(var(--color-not-quite-black-rgb));
  --color-not-quite-black-rgb: 21, 19, 22;

  --color-dark-gray: rgb(var(--color-dark-gray-rgb));
  --color-dark-gray-rgb: 74, 66, 76;

  --color-dim-gray: rgb(var(--color-dim-gray-rgb));
  --color-dim-gray-rgb: 106, 95, 109;

  --color-gray: rgb(var(--color-gray-rgb));
  --color-gray-rgb: 137, 124, 141;

  --color-silver-gray: rgb(var(--color-silver-gray-rgb));
  --color-silver-gray-rgb: 167, 157, 170;

  --color-light-gray: rgb(var(--color-light-gray-rgb));
  --color-light-gray-rgb: 196, 190, 198;

  --color-not-quite-white: rgb(var(--color-not-quite-white-rgb));
  --color-not-quite-white-rgb: 250, 249, 251;

  --color-white: rgb(var(--color-white-rgb));
  --color-white-rgb: 255, 255, 255;

  /*** Colors ***/
  --color-primary: var(--color-not-quite-black);
  --color-primary-rgb: var(--color-not-quite-black-rgb);

  /* Blue */
  --color-blue-light: rgb(var(--color-blue-light-rgb));
  --color-blue-light-rgb: 98, 201, 248;

  --color-blue: rgb(var(--color-blue-rgb));
  --color-blue-rgb: 41, 182, 246;

  --color-blue-dark: rgb(var(--color-blue-dark-rgb));
  --color-blue-dark-rgb: 10, 164, 235;

  --color-blue-contrast: var(--color-not-quite-black);
  --color-blue-contrast-rgb: var(--color-not-quite-black-rgb);

  /* Green */
  --color-green-light: rgb(var(--color-green-light-rgb));
  --color-green-light-rgb: 142, 204, 145;

  --color-green: rgb(var(--color-green-rgb));
  --color-green-rgb: 102, 187, 106;

  --color-green-dark: rgb(var(--color-green-dark-rgb));
  --color-green-dark-rgb: 86, 179, 91;

  --color-green-contrast: var(--color-not-quite-black);
  --color-green-contrast-rgb: var(--color-not-quite-black-rgb);

  /* Yellow */
  --color-yellow-light: rgb(var(--color-yellow-light-rgb));
  --color-yellow-light-rgb: 255, 206, 92;

  --color-yellow: rgb(var(--color-yellow-rgb));
  --color-yellow-rgb: 255, 190, 38;

  --color-yellow-dark: rgb(var(--color-yellow-dark-rgb));
  --color-yellow-dark-rgb: 255, 182, 10;

  --color-yellow-contrast: var(--color-not-quite-black);
  --color-yellow-contrast-rgb: var(--color-not-quite-black-rgb);

  /* Red */
  --color-red-light: rgb(var(--color-red-light-rgb));
  --color-red-light-rgb: 247, 110, 100;

  --color-red: rgb(var(--color-red-rgb));
  --color-red-rgb: 244, 67, 54;

  --color-red-dark: rgb(var(--color-red-dark-rgb));
  --color-red-dark-rgb: 243, 37, 22;

  --color-red-contrast: var(--color-not-quite-black);
  --color-red-contrast-rgb: var(--color-not-quite-black-rgb);

  /*** Functional aliases ***/
  --background-color: var(--color-not-quite-white);
  --background-color-rgb: var(--color-not-quite-white-rgb);

  --text-color: var(--color-not-quite-black);
  --text-color-rgb: var(--color-not-quite-black-rgb);

  --text-light: var(--color-dim-gray);
  --text-muted: var(--color-gray);

  /*** Extra theme variables ***/
  --background: linear-gradient(to bottom, rgb(176, 176, 176), rgb(255, 255, 255));
}

/* Dark theme */
.theme-dark {
  --color-primary: var(--color-not-quite-white);
  --color-primary-rgb: var(--color-not-quite-white-rgb);

  --background-color: var(--color-not-quite-black);
  --background-color-rgb: var(--color-not-quite-black-rgb);

  --text-color: var(--color-not-quite-white);
  --text-color-rgb: var(--color-not-quite-white-rgb);

  --text-light: var(--color-light-gray);
  --text-muted: var(--color-silver-gray);

  --background: linear-gradient(to bottom, rgb(79, 79, 79), rgb(0, 0, 0));
}
