@import 'modern-normalize/modern-normalize.css';
@import './globals.css';

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  font-synthesis: none;

  background: var(--background) fixed;
  color: var(--text-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: underline;
}

a:hover {
  color: #535bf2;
}

html,
body,
#app {
  width: 100%;
  direction: ltr;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}

#app header {
  flex: 0 1 auto;
}

#app main {
  flex: 1 1 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* People with motion disorders may feel distressed by animations */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
/* https://webkit.org/blog/7551/responsive-design-for-motion */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.001s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001s !important;
  }
}
