<script setup lang="ts">
import type { DisplayInformation, FilteredCourseColumns } from './CoursesWrapper.vue'

import { deselectCourses, shiftCourseBlock } from '@/ts/courseSelection'
import CourseBlock from '@/components/management/courses/CourseBlock.vue'
import CourseItems from '@/components/management/courses/CourseItems.vue'

type Props = {
  displayed: DisplayInformation
  courses: FilteredCourseColumns
}

defineProps<Props>()
</script>

<template>
  <template v-if="courses.leaf">
    <CourseItems :displayed="displayed" :courses="courses" />
  </template>
  <template v-else>
    <div class="course-blocks-wrapper">
      <div v-if="courses.left.length" class="course-blocks-column">
        <div v-for="course in courses.left" :key="course.key" :style="{ height: `${course.height}px` }">
          <CourseBlock
            v-if="course.visible"
            :filter="course.filter"
            :entity="course.entity"
            :courses="course.children"
            @click.shift.self="shiftCourseBlock(course.children)"
            @click.exact="deselectCourses"
          >
            <CoursesDisplay
              :displayed="displayed"
              :courses="course.children"
              @click.shift.self="shiftCourseBlock(course.children)"
              @click.exact="deselectCourses"
            />
          </CourseBlock>
        </div>
      </div>
      <div v-if="courses.right.length" class="course-blocks-column">
        <div v-for="course in courses.right" :key="course.key" :style="{ height: `${course.height}px` }">
          <CourseBlock
            v-if="course.visible"
            :filter="course.filter"
            :entity="course.entity"
            :courses="course.children"
            @click.shift.self="shiftCourseBlock(course.children)"
            @click.exact="deselectCourses"
          >
            <CoursesDisplay
              :displayed="displayed"
              :courses="course.children"
              @click.shift.self="shiftCourseBlock(course.children)"
              @click.exact="deselectCourses"
            />
          </CourseBlock>
        </div>
      </div>
    </div>
  </template>
</template>

<style scoped>
/***************************************************************************************
                                   !!! WARNING !!!
     Changing anything here may affect the calculations of the lazy scroller!!!!!!!!
  MAKE SURE TO DO THE APPROPRIATE CHANGES IF THE LAYOUT CHANGES, EVEN BY A FEW PIXELS!!
 ***************************************************************************************/

.course-blocks-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.course-blocks-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  /* flexbox wizardry - prevent some unfortunate properties of flexbox to show up uninvited */
  min-width: 0;
}

.course-blocks-column:first-child:last-child,
.course-blocks-wrapper .course-blocks-wrapper .course-blocks-wrapper .course-blocks-wrapper .course-blocks-column {
  grid-column: span 2;
}
</style>
