<script setup lang="ts">
import type { FilterEntity, FilterType } from '@/composables/filterCourses'
import type { FilteredCourseColumns } from './CoursesWrapper.vue'

import { deselectCourses, shiftCourseBlock } from '@/ts/courseSelection'
import FilterIcon from '@/components/management/filters/FilterIcon.vue'

interface Props {
  filter: FilterType
  entity: FilterEntity | null
  courses: FilteredCourseColumns
}

defineProps<Props>()
</script>

<template>
  <div class="course-block">
    <div class="course-block-heading" @click.shift.self="shiftCourseBlock(courses)" @click.exact="deselectCourses">
      <FilterIcon :filter="filter" />
      <span v-if="entity" class="entity-name" :title="entity.name">
        {{ entity.name }}
      </span>
      <i v-else class="entity-name" :title="$t('management.courses.undefined')">
        {{ $t('management.courses.undefined') }}
      </i>
    </div>
    <div class="course-block-contents">
      <slot />
    </div>
  </div>
</template>

<style scoped>
/***************************************************************************************
                                   !!! WARNING !!!
     Changing anything here may affect the calculations of the lazy scroller!!!!!!!!
  MAKE SURE TO DO THE APPROPRIATE CHANGES IF THE LAYOUT CHANGES, EVEN BY A FEW PIXELS!!
 ***************************************************************************************/

.course-block {
  border-radius: 6px;
  border: 2px currentColor solid;
  padding: 0.25rem 0.5rem;
}

.course-block-heading {
  display: flex;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
  /* Prevent text selection when shift + click */
  user-select: none;
}

.entity-name {
  overflow: hidden;
  white-space: nowrap;
  word-break: manual;
  text-overflow: ellipsis;
  width: 100%;
}

.course-block-heading :deep(svg) {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}
</style>
