<script lang="ts">
import type { ButtonProps } from '../Button.vue'
import type { AlertDialogProps } from './base/AlertDialog.vue'

export interface AlertDialogButtonProps extends AlertDialogProps, ButtonProps {}
</script>

<script setup lang="ts">
import Button from '@/components/uikit/Button.vue'
import AlertDialog from '@/components/uikit/dialog/base/AlertDialog.vue'

// Rationale for not using AlertDialogButtonProps: this makes AlertDialog props automagically fall through
const props = defineProps<ButtonProps>()
</script>

<template>
  <AlertDialog>
    <template #trigger>
      <Button v-bind="{ ...props }">
        <slot name="button" />
      </Button>
    </template>
    <template #title>
      <slot name="title" />
    </template>
    <template #description>
      <slot name="description" />
    </template>
    <template v-if="$slots.cancel" #cancel>
      <slot name="cancel" />
    </template>
    <template #action>
      <slot name="action" />
    </template>
  </AlertDialog>
</template>
