<script setup lang="ts">
import { Color } from '@/components/uikit/Button.vue'
import AlertDialogButton from './AlertDialogButton.vue'
import Delete from '~mdi/delete_forever.svg'

function deleteData() {
  alert('Removed System32 from the puter :3')
}
</script>

<template>
  <Story group="uikit" title="dialog/AlertDialog">
    <Variant title="Modal triggered by a button" auto-props-disabled>
      <AlertDialogButton @action="deleteData">
        <template #button>Delete stuff</template>
        <template #title>Are you absolutely sure?</template>
        <template #description>
          This action cannot be undone. This will permanently delete your account and remove your data from our servers.
        </template>
        <template #cancel>Nooooo</template>
        <template #action>Yayyyy</template>
      </AlertDialogButton>
    </Variant>
    <Variant title="Modal triggered by a button (icon button variant)" auto-props-disabled>
      <AlertDialogButton icon-button :confirm-color="Color.BLUE" label="Test dialog" @action="deleteData">
        <template #button>
          <Delete />
        </template>
        <template #title>Are you absolutely sure?</template>
        <template #description>
          This action cannot be undone. This will permanently delete your account and remove your data from our servers.
        </template>
        <template #cancel>Nooooo</template>
        <template #action>Yayyyy</template>
      </AlertDialogButton>
    </Variant>
  </Story>
</template>
