<script lang="ts">
import type { ButtonProps } from '../Button.vue'

export interface DialogCloseProps extends ButtonProps {}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { DialogClose } from 'radix-vue'
import Button from '@/components/uikit/Button.vue'

const props = defineProps<DialogCloseProps>()
</script>

<template>
  <DialogClose as-child>
    <Button v-bind="{ ...$attrs, ...props }">
      <slot />
    </Button>
  </DialogClose>
</template>
