<script lang="ts">
import type { DialogProps } from './base/Dialog.vue'
import type { ButtonProps } from '../Button.vue'

export interface DialogButtonProps extends DialogProps, ButtonProps {}
</script>

<script setup lang="ts">
import Dialog from './base/Dialog.vue'
import Button from '../Button.vue'

const props = defineProps<ButtonProps>()
</script>

<template>
  <Dialog>
    <template #trigger>
      <Button v-bind="{ ...props }">
        <slot name="button" />
      </Button>
    </template>
    <template #title>
      <slot name="title" />
    </template>
    <template #description>
      <slot name="description" />
    </template>
    <template v-if="$slots.content" #content>
      <slot name="content" />
    </template>
    <template v-if="$slots.cancel" #cancel>
      <slot name="cancel" />
    </template>
    <template v-if="$slots.footer" #footer>
      <slot name="footer" />
    </template>
  </Dialog>
</template>
