<script setup lang="ts">
import DialogButton from './DialogButton.vue'
import Home from '~mdi/home.svg'
import DialogClose from '@/components/uikit/dialog/DialogClose.vue'
</script>

<template>
  <Story group="uikit" title="dialog/Dialog">
    <Variant title="Standard usage" auto-props-disabled>
      <DialogButton class="smaller">
        <template #button>Test</template>
        <template #title>Test Dialog</template>
        <template #description>I'm a small dialog description</template>
        <template #content>
          <div :style="{ display: 'flex', flexDirection: 'column', gap: '10px' }">
            <p class="Text">Dimensions</p>
            <fieldset class="Fieldset">
              <label class="Label" for="width"> Width </label>
              <input id="width" class="Input" defaultValue="100%" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxWidth"> Max. width </label>
              <input id="maxWidth" class="Input" defaultValue="300px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="height"> Height </label>
              <input id="height" class="Input" defaultValue="25px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxHeight"> Max. height </label>
              <input id="maxHeight" class="Input" defaultValue="none" />
            </fieldset>
          </div>
        </template>
        <template #footer>
          <div class="btn-container">
            <DialogClose class="dialog-close">
              <template #button>Enregistrer</template>
            </DialogClose>
          </div>
        </template>
      </DialogButton>
    </Variant>
    <Variant title="With an icon button" auto-props-disabled>
      <DialogButton icon-button label="Test dialog" class="larger">
        <template #button>
          <Home />
        </template>
        <template #title>Test Dialog</template>
        <template #description>I'm a small dialog description</template>
        <template #content>
          <div :style="{ display: 'flex', flexDirection: 'column', gap: '10px' }">
            <p class="Text">Dimensions</p>
            <fieldset class="Fieldset">
              <label class="Label" for="width"> Width </label>
              <input id="width" class="Input" defaultValue="100%" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxWidth"> Max. width </label>
              <input id="maxWidth" class="Input" defaultValue="300px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="height"> Height </label>
              <input id="height" class="Input" defaultValue="25px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxHeight"> Max. height </label>
              <input id="maxHeight" class="Input" defaultValue="none" />
            </fieldset>
          </div>
        </template>
        <template #footer>
          <div class="btn-container">
            <DialogClose class="dialog-close">
              <template #button>Enregistrer</template>
            </DialogClose>
          </div>
        </template>
      </DialogButton>
    </Variant>
  </Story>
</template>

<style>
.flopui-dialog-content.larger {
  max-width: 700px;
}

.flopui-dialog-content.smaller {
  max-width: 350px;
}
</style>

<style scoped>
/** Copied from radix-vue's demo */
fieldset,
input,
button {
  all: unset;
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Label {
  font-size: 13px;
  width: 75px;
}

.Input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 1;
  height: 25px;
  box-shadow: 0 0 0 1px hsl(146, 38.5%, 69%);
}
.Input:focus {
  box-shadow: 0 0 0 2px hsl(151, 40.2%, 54.1%);
}

.Text {
  margin: 0;
  font-size: 15px;
  line-height: 19px;
  font-weight: 500;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}
</style>
