<!-- This file is part of the FlOpEDT/FlOpScheduler project.               -->
<!-- Copyright (c) 2017                                                    -->
<!-- Authors: Iulian Ober, Paul Renaud-Goud, Pablo Seban, et al.           -->
<!--                                                                       -->
<!-- This program is free software: you can redistribute it and/or modify  -->
<!-- it under the terms of the GNU Affero General Public License as        -->
<!-- published by the Free Software Foundation, either version 3 of the    -->
<!-- License, or (at your option) any later version.                       -->
<!--                                                                       -->
<!-- This program is distributed in the hope that it will be useful, but   -->
<!-- WITHOUT ANY WARRANTY; without even the implied warranty of            -->
<!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU      -->
<!-- Affero General Public License for more details.                       -->
<!--                                                                       -->
<!-- You should have received a copy of the GNU Affero General Public      -->
<!-- License along with this program. If not, see                          -->
<!-- <http://www.gnu.org/licenses/>.                                       -->
<!--                                                                       -->
<!-- You can be released from the requirements of the license by purchasing -->
<!-- a commercial license. Buying such a license is mandatory as soon as   -->
<!-- you develop activities involving the FlOpEDT/FlOpScheduler software   -->
<!-- without disclosing the source code of your own applications.          -->

{% extends "base.html" %}
{% load i18n %}
{% block title %} EDT {% endblock %}
{% block content %}
{% load static %}
    <script>
    var url_all_modules_with_desc = "{% url "base:fetch_all_modules_with_desc" department %}";
    var url_modules_desc = "{% url "base:module_description-blank" department %}";

    </script>
<link rel="stylesheet" href="{% static "base/better.css" %}"/>
<link rel="stylesheet" href="{% static "base/style-modules.css" %}"/>


<div class="appbar">
    <h1>MODULES</h1>
    <div class="actions">
        <div id="filters" class="filters">

        </div>
        <div class="search">
            <svg class="loupe" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
            <input type="text" class="modules-search" id="modules-search" placeholder="Rechercher"/>
        </div>
    </div>
</div>
<div class="modules-container" id="modules-container"></div>

{% endblock %}

{% block javascript %}
<script>
  var is_tutor = {{is_tutor|yesno:"true,false"}};
</script>
<script src="{% static 'base/modules.js' %}"></script>
{% endblock %}
