<script lang="ts">
export interface SelectInputProps {
  placeholder?: string
  ariaLabel?: string
}
</script>

<script setup lang="ts">
import {
  SelectContent,
  SelectPortal,
  SelectRoot,
  SelectScrollDownButton,
  SelectScrollUpButton,
  SelectTrigger,
  SelectValue,
  SelectViewport,
} from 'radix-vue'

import ArrowUp from '~mdi/keyboard_arrow_up.svg'
import ArrowDown from '~mdi/keyboard_arrow_down.svg'

const model = defineModel<string>({ required: true })

defineProps<SelectInputProps>()
</script>

<template>
  <SelectRoot v-model="model" class="select-root">
    <SelectTrigger class="flopui-input select-input" :aria-label="ariaLabel">
      <SelectValue class="select-value" :placeholder="placeholder" />
      <ArrowDown class="select-icon" />
    </SelectTrigger>

    <SelectPortal>
      <SelectContent class="select-content">
        <SelectScrollUpButton class="select-scroll-button">
          <ArrowUp />
        </SelectScrollUpButton>

        <SelectViewport class="select-viewport">
          <slot />
        </SelectViewport>

        <SelectScrollDownButton class="select-scroll-button">
          <ArrowDown />
        </SelectScrollDownButton>
      </SelectContent>
    </SelectPortal>
  </SelectRoot>
</template>

<style>
@import '../input.css';
@import '../select.css';
</style>
