<script lang="ts">
export interface SelectItemProps {
  value: string
}
</script>

<script setup lang="ts">
import { SelectItem, SelectItemIndicator, SelectItemText } from 'radix-vue'
import Check from '~mdi/check.svg'

defineProps<SelectItemProps>()
</script>

<template>
  <SelectItem :value="value" class="select-item">
    <SelectItemIndicator class="select-item-indicator">
      <Check />
    </SelectItemIndicator>
    <SelectItemText>
      <slot />
    </SelectItemText>
  </SelectItem>
</template>

<style src="../select.css" />
