<script setup lang="ts">
import { SelectLabel } from 'radix-vue'
</script>

<template>
  <SelectLabel class="select-label">
    <slot />
  </SelectLabel>
</template>

<style>
@import '../select.css';
</style>
