<script setup lang="ts">
import { SelectSeparator } from 'radix-vue'
</script>

<template>
  <SelectSeparator class="select-separator">
    <slot />
  </SelectSeparator>
</template>

<style>
@import '../select.css';
</style>
