@font-face {
  font-family: 'Inter';
  src: url('./Inter-VariableFont-slnt-wght.woff2') format('woff2 supports variations'),
    url('./Inter-VariableFont-slnt-wght.woff2') format('woff2-variations');

  font-weight: 100 900;
  font-style: oblique 0deg 10deg;
}
