.dropdown-content {
  min-width: 220px;
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 5px;
  box-shadow:
    0 10px 38px -10px rgba(22, 23, 24, 0.35),
    0 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  user-select: none;

  will-change: transform, opacity;
}

.theme-dark .dropdown-content {
  background-color: var(--color-not-quite-black);
}

.dropdown-arrow {
  fill: var(--color-white);
}

.theme-dark .dropdown-arrow {
  fill: var(--color-not-quite-black);
}

.dropdown-content[data-side='top'] {
  animation-name: slideDownAndFade;
}

.dropdown-content[data-side='right'] {
  animation-name: slideLeftAndFade;
}

.dropdown-content[data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.dropdown-content[data-side='left'] {
  animation-name: slideRightAndFade;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
