<script lang="ts">
import type { ButtonProps } from '../Button.vue'

export interface DropdownButtonProps extends ButtonProps {
  noDropdownIcon?: boolean
}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import Button from '../Button.vue'
import Dropdown from './base/Dropdown.vue'
import DropdownIcon from '~mdi/keyboard_arrow_down.svg'

const props = defineProps<DropdownButtonProps>()
</script>

<template>
  <Dropdown>
    <template #trigger>
      <Button v-bind="{ ...$attrs, ...props }">
        <span class="flopui-dropdown-button-content">
          <slot name="button" />
        </span>
        <DropdownIcon v-if="!noDropdownIcon" />
      </Button>
    </template>
    <template #items>
      <slot name="items" />
    </template>
  </Dropdown>
</template>

<style>
.flopui-dropdown-button-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
</style>
