<script setup lang="ts">
import DropdownButton from './DropdownButton.vue'
import DropdownItem from './DropdownItem.vue'
import DropdownSeparator from './DropdownSeparator.vue'

import Home from '~mdi/home.svg'
</script>

<template>
  <Story group="uikit">
    <Variant title="Standard button">
      <DropdownButton>
        <template #button>Example button</template>
        <template #items>
          <DropdownItem>Item 1</DropdownItem>
          <DropdownItem>Item 2</DropdownItem>
          <DropdownSeparator />
          <DropdownItem disabled>Item 3</DropdownItem>
        </template>
      </DropdownButton>
    </Variant>
    <Variant title="Using an icon button">
      <DropdownButton icon-button label="Test dropdown">
        <template #button>
          <Home />
        </template>
        <template #items>
          <DropdownItem>Item 1</DropdownItem>
          <DropdownItem>Item 2</DropdownItem>
          <DropdownSeparator />
          <DropdownItem disabled>Item 3</DropdownItem>
        </template>
      </DropdownButton>
    </Variant>
  </Story>
</template>

<docs lang="md">
This component is a wrapper around [`Dropdown`](./Dropdown.story.vue), with the trigger preconfigured
to be a [`Button`](../Button.story.vue).

> ![INFO]
> The positioning is gracefully handled if the popover doesn't fit, with the appropriate adjustments to the placement
> of the arrow etc.

The color and look of the button can be customised using the `color` and `look` props. You may also specify the
`icon-button` prop if you wish to have only an icon.

> ![WARNING]
> The a11y requirement of icon buttons apply, see the docs for [Button](../Button.story.vue) for more details.

For more information on how to construct the dropdown contents, please see the documentation
for the primitive [`Dropdown`](./Dropdown.story.vue).
</docs>
