<script setup lang="ts">
import { DropdownMenuSeparator } from 'radix-vue'
</script>

<template>
  <DropdownMenuSeparator class="dropdown-separator" />
</template>

<style>
.dropdown-separator {
  height: 1px;
  margin: 0.35rem;
  background-color: var(--color-light-gray);
}

.theme-dark .dropdown-separator {
  background-color: var(--color-dark-gray);
}
</style>
