<script setup lang="ts">
import Dropdown from './base/Dropdown.vue'
import DropdownItem from '@/components/uikit/dropdown/DropdownItem.vue'
</script>

<template>
  <Story group="uikit" title="internal/Dropdown">
    <Variant title="Basic dropdown">
      <Dropdown>
        <template #trigger>
          <button>Click me</button>
        </template>
        <template #items>
          <DropdownItem>Item 1</DropdownItem>
          <DropdownItem>Item 2</DropdownItem>
        </template>
      </Dropdown>
    </Variant>
  </Story>
</template>

<docs lang="md">
A (relatively) low level dropdown component.

This component generally **shouldn't be used** directly, as it does not enforce a consistent trigger compatible with
accessibility requirements.

Generally you'll want to use [`DropdownButton`](./DropdownButton.story.vue) instead.

## Trigger

## Items

### Basic item

### Checkbox

### Radio

### Submenu

### Separator

### Label
</docs>
