.dropdown-item {
  font-size: 0.85rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 1.6rem;
  position: relative;
  padding: 0 0.5rem 0 1.5rem;
  user-select: none;
  outline: none;
  gap: 0.5rem;
}

.dropdown-item[data-disabled] {
  color: var(--text-muted);
  pointer-events: none;
}

.dropdown-item[data-state='open'] {
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

.dropdown-item[data-highlighted] {
  background-color: var(--color-primary);
  color: var(--color-not-quite-white);
}

.theme-dark .dropdown-item[data-highlighted] {
  color: var(--color-not-quite-black);
}

.dropdown-indicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dropdown-item svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.dropdown-indicator svg {
  width: 0.7rem;
  height: 0.7rem;
}

.dropdown-item-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--text-muted);
}

.dropdown-sub-more {
  color: var(--text-color);
}

.dropdown-item[data-highlighted] .dropdown-sub-more {
  color: var(--color-not-quite-white);
}

.theme-dark .dropdown-item[data-highlighted] .dropdown-sub-more {
  color: var(--color-not-quite-black);
}
