<script setup lang="ts">
import { DropdownMenuLabel } from 'radix-vue'
</script>

<template>
  <DropdownMenuLabel class="dropdown-label">
    <slot />
  </DropdownMenuLabel>
</template>

<style>
.dropdown-label {
  padding-left: 25px;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: var(--text-muted);
}
</style>
