<script setup lang="ts">
import { DropdownMenuPortal, DropdownMenuSub, DropdownMenuSubContent, DropdownMenuSubTrigger } from 'radix-vue'
import ChevronRight from '~mdi/chevron_right.svg'
</script>

<template>
  <DropdownMenuSub>
    <DropdownMenuSubTrigger class="dropdown-item">
      <slot />
      <div class="dropdown-item-right">
        <slot name="right" />
        <ChevronRight class="dropdown-sub-more" />
      </div>
    </DropdownMenuSubTrigger>
    <DropdownMenuPortal>
      <DropdownMenuSubContent class="dropdown-content" :side-offset="2" :align-offset="-5">
        <slot name="items" />
      </DropdownMenuSubContent>
    </DropdownMenuPortal>
  </DropdownMenuSub>
</template>

<style>
@import './dropdown-menu.css';
@import './dropdown-item.css';
</style>
