<script setup lang="ts">
import { DropdownMenuCheckboxItem, DropdownMenuItemIndicator } from 'radix-vue'
import Check from '~mdi/check.svg'
</script>

<template>
  <DropdownMenuCheckboxItem class="dropdown-item">
    <DropdownMenuItemIndicator class="dropdown-indicator">
      <Check />
    </DropdownMenuItemIndicator>
    <slot />
    <div class="dropdown-item-right">
      <slot name="right" />
    </div>
  </DropdownMenuCheckboxItem>
</template>

<style>
@import './dropdown-item.css';
</style>
