<script setup lang="ts">
import { DropdownMenuItem } from 'radix-vue'
</script>

<template>
  <DropdownMenuItem class="dropdown-item">
    <slot />
    <div class="dropdown-item-right">
      <slot name="right" />
    </div>
  </DropdownMenuItem>
</template>

<style>
@import './dropdown-item.css';
</style>
