<script setup lang="ts">
import { ComboboxLabel } from 'radix-vue'
</script>

<template>
  <ComboboxLabel class="select-label">
    <slot />
  </ComboboxLabel>
</template>

<style>
@import '../select.css';
</style>
