<script setup lang="ts">
import { ComboboxSeparator } from 'radix-vue'
</script>

<template>
  <ComboboxSeparator class="select-separator">
    <slot />
  </ComboboxSeparator>
</template>

<style>
@import '../select.css';
</style>
