<script lang="ts">
export interface ComboboxInputProps {
  placeholder?: string
}
</script>

<script setup lang="ts">
import {
  ComboboxAnchor,
  ComboboxContent,
  ComboboxEmpty,
  ComboboxInput,
  ComboboxRoot,
  ComboboxTrigger,
  ComboboxViewport,
} from 'radix-vue'

import ArrowDown from '~mdi/keyboard_arrow_down.svg'

const model = defineModel<string | number>({ required: true })

defineProps<ComboboxInputProps>()
</script>

<template>
  <ComboboxRoot v-model="model" class="select-root">
    <ComboboxAnchor class="flopui-input">
      <ComboboxInput class="combobox-input" :placeholder="placeholder" />

      <ComboboxTrigger class="combobox-trigger">
        <ArrowDown class="select-icon" />
      </ComboboxTrigger>
    </ComboboxAnchor>

    <ComboboxContent class="select-content combobox-content" body-lock>
      <ComboboxViewport class="select-viewport">
        <ComboboxEmpty class="select-empty">
          {{ $t('form.searchable.notfound') }}
        </ComboboxEmpty>

        <slot />
      </ComboboxViewport>
    </ComboboxContent>
  </ComboboxRoot>
</template>

<style>
@import '../input.css';
@import '../select.css';
@import '../combobox.css';
</style>
