<script lang="ts">
export interface ComboboxItemProps {
  value: string | number | boolean
}
</script>

<script setup lang="ts">
import { ComboboxItem, ComboboxItemIndicator } from 'radix-vue'
import Check from '~mdi/check.svg'

defineProps<ComboboxItemProps>()
</script>

<template>
  <ComboboxItem :value="value" class="select-item">
    <ComboboxItemIndicator class="select-item-indicator">
      <Check />
    </ComboboxItemIndicator>
    <span>
      <slot />
    </span>
  </ComboboxItem>
</template>

<style>
@import '../select.css';
</style>
