.combobox-anchor {
  justify-content: space-between;
  color: var(--text-color);
}

.combobox-input {
  all: unset;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.combobox-input[data-placeholder] {
  color: var(--text-muted);
}

.combobox-trigger {
  all: unset;
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
}

.combobox-content {
  position: absolute;
  margin-top: 0.25rem;
  overflow: hidden;
  z-index: 10;
}
