<script setup lang="ts">
import { ref } from 'vue'
import ComboboxInput from './combobox/ComboboxInput.vue'
import ComboboxGroup from './combobox/ComboboxGroup.vue'
import ComboboxItem from './combobox/ComboboxItem.vue'
import ComboboxLabel from './combobox/ComboboxLabel.vue'
import ComboboxSeparator from './combobox/ComboboxSeparator.vue'

const options = [
  { value: 'apple', name: 'Apple' },
  { value: 'banana', name: 'Banana' },
  { value: 'blueberry', name: 'Blueberry' },
  { value: 'grapes', name: 'Grapes' },
  { value: 'pineapple', name: 'Pineapple' },
]

const vegetables = [
  { value: 'aubergine', name: 'Aubergine' },
  { value: 'broccoli', name: 'Broccoli' },
  { value: 'carrot', name: 'Carrot' },
  { value: 'courgette', name: 'Courgette' },
  { value: 'leek', name: 'Leek' },
]

const value = ref('')
</script>

<template>
  <Story group="uikit" title="form/input/ComboboxInput">
    <Variant title="Basic usage" auto-props-disabled>
      <div style="max-width: 480px; margin: 100px 20px">
        <ComboboxInput
          v-model="value"
          placeholder="Placeholder..."
          :display-value="(v: string) => options.find((opt) => opt.value === v)?.name"
        >
          <ComboboxItem v-for="option in options" :key="option.value" :value="option.value">
            {{ option.name }}
          </ComboboxItem>
        </ComboboxInput>
      </div>
    </Variant>
    <Variant title="Advanced usage" auto-props-disabled>
      <div style="max-width: 480px; margin: 100px 20px">
        <ComboboxInput
          v-model="value"
          placeholder="Placeholder..."
          :display-value="(v: string) => options.find((opt) => opt.value === v)?.name || vegetables.find((opt) => opt.value === v)?.name"
        >
          <ComboboxLabel>Fruits</ComboboxLabel>
          <ComboboxGroup>
            <ComboboxItem v-for="option in options" :key="option.value" :value="option.value">
              {{ option.name }}
            </ComboboxItem>
          </ComboboxGroup>
          <ComboboxSeparator />
          <ComboboxLabel>Vegetables</ComboboxLabel>
          <ComboboxGroup>
            <ComboboxItem
              v-for="option in vegetables"
              :key="option.value"
              :value="option.value"
              :disabled="option.value === 'courgette'"
            >
              {{ option.name }}
            </ComboboxItem>
          </ComboboxGroup>
        </ComboboxInput>
      </div>
    </Variant>
  </Story>
</template>
