.flopui-input {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px rgba(var(--text-color-rgb), 0.2) solid;
  background-color: var(--color-white);
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 2rem;
  gap: 0.5rem;
  width: 100%;
  color: var(--text-color);
}

.theme-dark .flopui-input {
  background-color: var(--color-dark-gray);
}
