<script setup lang="ts">
import { ref } from 'vue'
import SelectInput from './select/SelectInput.vue'
import SelectGroup from './select/SelectGroup.vue'
import SelectItem from './select/SelectItem.vue'
import SelectLabel from './select/SelectLabel.vue'
import SelectSeparator from './select/SelectSeparator.vue'

const options = [
  { value: 'apple', name: 'Apple' },
  { value: 'banana', name: 'Banana' },
  { value: 'blueberry', name: 'Blueberry' },
  { value: 'grapes', name: 'Grapes' },
  { value: 'pineapple', name: 'Pineapple' },
]

const vegetables = [
  { value: 'aubergine', name: 'Aubergine' },
  { value: 'broccoli', name: 'Broccoli' },
  { value: 'carrot', name: 'Carrot' },
  { value: 'courgette', name: 'Courgette' },
  { value: 'leek', name: 'Leek' },
]

const value = ref('blueberry')
</script>

<template>
  <Story group="uikit" title="form/input/SelectInput">
    <Variant title="Basic usage" auto-props-disabled>
      <div style="max-width: 480px; margin: 100px 20px">
        <SelectInput v-model="value">
          <SelectItem v-for="option in options" :key="option.value" :value="option.value">
            {{ option.name }}
          </SelectItem>
        </SelectInput>
      </div>
    </Variant>
    <Variant title="Advanced usage" auto-props-disabled>
      <div style="max-width: 480px; margin: 100px 20px">
        <SelectInput v-model="value">
          <SelectLabel>Fruits</SelectLabel>
          <SelectGroup>
            <SelectItem v-for="option in options" :key="option.value" :value="option.value">
              {{ option.name }}
            </SelectItem>
          </SelectGroup>
          <SelectSeparator />
          <SelectLabel>Vegetables</SelectLabel>
          <SelectGroup>
            <SelectItem
              v-for="option in vegetables"
              :key="option.value"
              :value="option.value"
              :disabled="option.value === 'courgette'"
            >
              {{ option.name }}
            </SelectItem>
          </SelectGroup>
        </SelectInput>
      </div>
    </Variant>
  </Story>
</template>
