.select-root {
  position: relative;
}

.select-input {
  cursor: pointer;
}

.select-scroll-button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.select-value {
  flex: 1;
}

.select-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: var(--text-color);
}

.select-content {
  width: 100%;
  min-width: 160px;
  max-height: 30vh;
  border-radius: 0.25rem;
  background-color: var(--background-color);
  box-shadow: 0 10px 38px -10px rgba(22, 23, 24, 0.35), 0 10px 20px -15px rgba(22, 23, 24, 0.2);
  will-change: opacity, transform;
}

.select-viewport {
  padding: 5px;
}

.select-empty {
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1rem;
  color: var(--text-muted)
}

.select-item {
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 1.625rem;
  padding: 0 1.5rem;
  position: relative;
  user-select: none;
  white-space: nowrap;
}

.select-item span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-item[data-disabled] {
  color: var(--text-muted);
  pointer-events: none;
}

.select-item[data-highlighted] {
  outline: none;
  background-color: var(--color-primary);
  color: var(--color-not-quite-white);
}

.theme-dark .select-item[data-highlighted] {
  color: var(--color-not-quite-black);
}

.select-label {
  padding-left: 1.5rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: var(--text-muted);
}

.select-separator {
  height: 1px;
  margin: 0.35rem;
  background-color: var(--color-light-gray);
}

.theme-dark .select-separator {
  background-color: var(--color-dark-gray);
}

.select-item-indicator {
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}

.select-scroll-button {
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  fill: currentColor;
  cursor: default;
}

.select-item-indicator svg,
.select-scroll-button svg {
  width: 100%;
  height: 100%;
}
