.tags-input {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border: 1px rgba(var(--text-color-rgb), 0.2) solid;
  border-radius: 0.35rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  overflow: hidden;
  gap: 0.25rem;
}

.theme-dark .tags-input {
  background-color: var(--color-dark-gray);
}

.tags-input-tag {
  display: flex;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border: 1px rgba(var(--text-color-rgb), 0.3) solid;
  max-width: 100%;
}

.tag-name {
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag-delete,
.tags-clear {
  all: unset;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  transition:
    background-color 0.2s,
    color 0.2s;
  color: rgba(var(--text-color-rgb), 0.3);
}

.tags-clear {
  color: var(--color-red);
}

.tag-delete:hover {
  color: var(--text-color);
  background-color: rgba(var(--text-color-rgb), 0.2);
}

.tags-clear:hover {
  background-color: rgba(var(--color-red-rgb), 0.2);
}

.tag-delete svg,
.tags-clear svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.tags-input-field {
  all: unset;
  text-overflow: ellipsis;
  padding: 0 0.25rem;
  min-height: 1.5rem;
  flex: 1 1 auto;
  width: 100%;
}

.tags-input-field::placeholder {
  color: var(--color-silver-gray);
}
