<script setup lang="ts">
import { ref } from 'vue'
import TagsInput from './tagsinput/TagsInput.vue'
import TagsInputCombobox from './tagsinput/TagsInputCombobox.vue'

const options = [
  { value: 'bobby', name: 'Bobby' },
  { value: 'chayanne', name: 'Chayanne' },
  { value: 'dapper', name: 'Dapper', alias: ['Tupperware'] },
  { value: 'empanada', name: 'Empanada' },
  { value: 'gegg', name: 'Gegg' },
  { value: 'ju4n4fl1pp4', name: 'Ju4n4Fl1pp4' },
  { value: 'juanaflippa', name: 'JuanaFlippa' },
  { value: 'leonarda', name: 'Leonarda' },
  { value: 'pepito', name: 'Pepito' },
  { value: 'pomme', name: 'Pomme', alias: ['Manzanita'] },
  { value: 'ramon', name: 'Ramón' },
  { value: 'richarlyson', name: 'Richarlyson' },
  { value: 'sunnysideup', name: 'SunnySideUp' },
  { value: 'tallulah', name: 'Tallulah' },
  { value: 'tilin', name: 'Tilín' },
  { value: 'trump', name: 'Trump' },
  { value: 'chunsik', name: '춘식' },
]

const value = ref(['Pomme', 'Gegg', 'Richarlyson'])
const valueIds = ref(['pomme', 'gegg', 'richarlyson'])
</script>

<template>
  <Story group="uikit" title="form/input/TagsInput">
    <Variant title="Simple" auto-props-disabled>
      <div style="max-width: 480px">
        <TagsInput v-model="value" placeholder="Placeholder..." />
      </div>
    </Variant>
    <Variant title="With Combobox" auto-props-disabled>
      <div style="max-width: 480px">
        <TagsInputCombobox v-model="valueIds" :options="options" placeholder="Placeholder..." />
      </div>
    </Variant>
  </Story>
</template>
