<script lang="ts">
export interface ButtonProps {
  color?: Color
  look?: Look
  iconButton?: boolean
  label?: string
}

export const enum Color {
  PRIMARY = 'primary',
  BLUE = 'blue',
  GREEN = 'green',
  YELLOW = 'yellow',
  RED = 'red',
}

export const enum Look {
  FILLED = 'filled',
  OUTLINED = 'outlined',
  LINK = 'link',
}
</script>

<script setup lang="ts">
const props = withDefaults(defineProps<ButtonProps>(), { color: Color.PRIMARY, look: Look.FILLED, label: void 0 })

if (import.meta.env.DEV) {
  if (props.iconButton && !props.label) {
    console.warn('[UI Kit] Missing a11y property `label` on an icon button!')
  }
}
</script>

<template>
  <button
    :aria-label="label"
    :class="[
      'flopui-button',
      `flopui-button__color-${props.color}`,
      `flopui-button__look-${props.look}`,
      { 'flopui-button__icon': props.iconButton },
    ]"
  >
    <slot v-if="props.iconButton" />
    <template v-else>
      <slot />
    </template>
  </button>
</template>

<!--suppress CssUnusedSymbol-->
<style>
.flopui-button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 0.5rem;

  font-size: 0.9rem;
  font-weight: 550;
  line-height: 1.75rem;
  border-radius: 4px;
  padding: 0.125rem 1rem;
  height: 2rem;

  transition:
    background-color 0.2s,
    filter 0.2s;
}

.flopui-button:focus {
  box-shadow: 0 0 0 2px var(--text-color);
}

.flopui-button__icon {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 50%;
}

.flopui-button:disabled {
  cursor: not-allowed;
  opacity: 0.75;
}

.flopui-button svg {
  width: 1rem;
  height: 1rem;
  color: inherit;
  flex-shrink: 0;
  fill: currentColor;
}

.flopui-button__look-filled.flopui-button__color-primary {
  background-color: var(--color-primary);
  color: var(--color-not-quite-white);
}

.flopui-button__look-filled.flopui-button__color-primary:not(:disabled):hover {
  background-color: var(--color-dark-gray);
}

.flopui-button__look-filled.flopui-button__color-primary:disabled {
  background-color: var(--color-dim-gray);
}

.theme-dark .flopui-button__look-filled.flopui-button__color-primary {
  color: var(--color-not-quite-black);
}

.theme-dark .flopui-button__look-filled.flopui-button__color-primary:not(:disabled):hover {
  background-color: var(--color-light-gray);
}

.theme-dark .flopui-button__look-filled.flopui-button__color-primary:disabled {
  background-color: var(--color-silver-gray);
}

.flopui-button__look-filled.flopui-button__color-blue {
  background-color: var(--color-blue);
  color: var(--color-blue-contrast);
}

.flopui-button__look-filled.flopui-button__color-blue:not(:disabled):hover {
  background-color: var(--color-blue-dark);
}

.flopui-button__look-filled.flopui-button__color-blue:disabled {
  background-color: var(--color-blue-light);
}

.flopui-button__look-filled.flopui-button__color-green {
  background-color: var(--color-green);
  color: var(--color-green-contrast);
}

.flopui-button__look-filled.flopui-button__color-green:not(:disabled):hover {
  background-color: var(--color-green-dark);
}

.flopui-button__look-filled.flopui-button__color-green:disabled {
  background-color: var(--color-green-light);
}

.flopui-button__look-filled.flopui-button__color-yellow {
  background-color: var(--color-yellow);
  color: var(--color-yellow-contrast);
}

.flopui-button__look-filled.flopui-button__color-yellow:not(:disabled):hover {
  background-color: var(--color-yellow-dark);
}

.flopui-button__look-filled.flopui-button__color-yellow:disabled {
  background-color: var(--color-yellow-light);
}

.flopui-button__look-filled.flopui-button__color-red {
  background-color: var(--color-red);
  color: var(--color-red-contrast);
}

.flopui-button__look-filled.flopui-button__color-red:not(:disabled):hover {
  background-color: var(--color-red-dark);
}

.flopui-button__look-filled.flopui-button__color-red:disabled {
  background-color: var(--color-red-light);
}

.theme-dark .flopui-button__look-filled:not(:disabled):hover {
  filter: brightness(0.9);
}

.flopui-button__look-outlined {
  background: none;
  border: 2px solid;
  color: inherit;
}

.flopui-button__look-outlined.flopui-button__color-primary {
  border-color: var(--color-primary);
}

.flopui-button__look-outlined.flopui-button__color-primary:not(:disabled):hover {
  background-color: rgba(var(--color-primary-rgb), 0.2);
}

.flopui-button__look-outlined.flopui-button__color-primary:disabled {
  color: var(--color-dim-gray);
  border-color: var(--color-dim-gray);
}

.theme-dark .flopui-button__look-outlined.flopui-button__color-primary:disabled {
  color: var(--color-light-gray);
  border-color: var(--color-light-gray);
}

.flopui-button__look-outlined.flopui-button__color-blue {
  border-color: var(--color-blue);
}

.flopui-button__look-outlined.flopui-button__color-blue:not(:disabled):hover {
  background-color: rgba(var(--color-blue-rgb), 0.2);
}

.flopui-button__look-outlined.flopui-button__color-blue:disabled {
  border-color: var(--color-blue-light);
}

.flopui-button__look-outlined.flopui-button__color-green {
  border-color: var(--color-green);
}

.flopui-button__look-outlined.flopui-button__color-green:not(:disabled):hover {
  background-color: rgba(var(--color-green-rgb), 0.2);
}

.flopui-button__look-outlined.flopui-button__color-green:disabled {
  border-color: var(--color-green-light);
}

.flopui-button__look-outlined.flopui-button__color-yellow {
  border-color: var(--color-yellow);
}

.flopui-button__look-outlined.flopui-button__color-yellow:not(:disabled):hover {
  background-color: rgba(var(--color-yellow-rgb), 0.2);
}

.flopui-button__look-outlined.flopui-button__color-yellow:disabled {
  border-color: var(--color-yellow-light);
}

.flopui-button__look-outlined.flopui-button__color-red {
  border-color: var(--color-red);
}

.flopui-button__look-outlined.flopui-button__color-red:not(:disabled):hover {
  background-color: rgba(var(--color-red-rgb), 0.2);
}

.flopui-button__look-outlined.flopui-button__color-red:disabled {
  border-color: var(--color-red-light);
}

.flopui-button.flopui-button__look-link {
  all: unset;
  font-weight: 500;
  color: #646cff;
  text-decoration: underline;
  cursor: pointer;
}

.flopui-button.flopui-button__look-link:hover {
  color: #535bf2;
}
</style>
