<script setup lang="ts"></script>

<template>
  <div class="flopui-button-group">
    <slot />
  </div>
</template>

<style>
.flopui-button-group {
  display: flex;
}

.flopui-button-group .flopui-button {
  flex-shrink: 0;
  border-radius: 0;
}

.flopui-button-group .flopui-button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.flopui-button-group .flopui-button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.flopui-button-group .flopui-button.flopui-button__look-filled + .flopui-button.flopui-button__look-filled {
  margin-left: 1px;
}
</style>
