<script setup lang="ts">
import { ref } from 'vue'
import Button, { Color, Look } from './Button.vue'

import Home from '~mdi/home.svg'
import Loader from '@/components/uikit/Loader.vue'

function toTitle(color: string, look: string) {
  return `${color[0].toUpperCase()}${color.slice(1)} ${look[0].toUpperCase()}${look.slice(1)}`
}

const disabled = ref(false)
</script>

<template>
  <Story group="uikit" :layout="{ type: 'grid', width: '250px' }">
    <template v-for="l in [Look.FILLED, Look.OUTLINED]" :key="l">
      <Variant
        v-for="c in [Color.PRIMARY, Color.BLUE, Color.GREEN, Color.YELLOW, Color.RED]"
        :key="c"
        :title="toTitle(c, l)"
        auto-props-disabled
      >
        <Button :disabled="disabled" :look="l" :color="c">Example button</Button>
      </Variant>
    </template>

    <Variant title="With an icon" auto-props-disabled>
      <Button :disabled="disabled">
        <Home />
        <span>Example button</span>
      </Button>
    </Variant>
    <Variant title="With loader" auto-props-disabled>
      <Button :disabled="disabled">
        <Loader />
        <span>Example button</span>
      </Button>
    </Variant>
    <Variant title="Icon button" auto-props-disabled>
      <Button :disabled="disabled" :icon-button="true" :look="Look.OUTLINED" label="Home">
        <Home />
      </Button>
    </Variant>
    <Variant title="Link button" auto-props-disabled>
      <Button :disabled="disabled" :look="Look.LINK">Example button</Button>
    </Variant>

    <template #controls>
      <HstCheckbox v-model="disabled" title="Disabled" />
    </template>
  </Story>
</template>

<docs lang="md">
A basic button. You can use icons, but be sure to wrap the text content in a span. Works like a charm when using
[SVG icons](./Icons.story.md), as shown here.

By default, the button has the `Look.FILLED` look with the `Look.PRIMARY` color.

## Icon buttons

When using a single icon with no text, it is best to specify the `icon-button` prop. In this case, it is not
necessary to use any slot name for the icon, as it is the only content that'll be rendered.

> ![WARNING]
> For accessibility purposes, it is **mandatory** to set a `label` on these, so screen readers can use a meaningful
> description of the button.
</docs>
