<script setup lang="ts">
import { reactive, ref } from 'vue'

function rgbToHsl(r: number, g: number, b: number) {
  r /= 255
  g /= 255
  b /= 255

  let min = Math.min(r, g, b)
  let max = Math.max(r, g, b)
  let delta = max - min

  let h = 0,
    s,
    l

  // Compute hue
  if (delta) {
    // If delta is 0, hue = 0.
    switch (max) {
      case r: // Red is the most present component
        h = ((g - b) / delta) % 6
        break
      case g: // Green is the most present component
        h = (b - r) / delta + 2
        break
      case b: // Blue is the most present component
        h = (r - g) / delta + 4
        break
    }
  }

  h = Math.round(h * 60)
  if (h < 0) h += 360 // Make a 360deg rotation if h is negative

  // Compute lightness
  l = (max + min) / 2

  // Compute saturation
  s = delta ? delta / (1 - Math.abs(2 * l - 1)) : 0

  return [h, s * 100, l * 100]
}

function color(variable: string, mode?: string) {
  const style = getComputedStyle(document.body)
  const rgb = style.getPropertyValue(`${variable}-rgb`) || '0, 0, 0'
  const [r, g, b] = rgb.split(',').map((n) => parseInt(n, 10))
  const [h, s, l] = rgbToHsl(r, g, b)

  const hex = r.toString(16).padStart(2, '0') + g.toString(16).padStart(2, '0') + b.toString(16).padStart(2, '0')

  return {
    variable: variable,
    mode: mode,
    data: {
      hex: `#${hex}`,
      rgb: `rgb(${rgb})`,
      hsl: `hsl(${h}, ${s.toFixed(2)}%, ${l.toFixed(2)}%)`,
    },
  }
}

function shaded(colorName: string) {
  return [color(`--color-${colorName}-light`), color(`--color-${colorName}`), color(`--color-${colorName}-dark`)]
}

const COLOR_DATA = {
  grayscale: [
    color('--color-white'),
    color('--color-not-quite-white'),
    color('--color-light-gray'),
    color('--color-silver-gray'),
    color('--color-gray'),
    color('--color-dim-gray'),
    color('--color-dark-gray'),
    color('--color-not-quite-black'),
    color('--color-black'),
  ],
  blue: shaded('blue'),
  green: shaded('green'),
  yellow: shaded('yellow'),
  red: shaded('red'),
}

const viewMode = ref('fill')

const state = reactive({
  font: 'Inter',
  size: 16,
  bold: false,
  text: 'Hello world!',
  color: 'var(--color-not-quite-white)',
  background: 'var(--color-not-quite-black)',
})
</script>

<template>
  <Story group="uikit" title="Colors" icon="carbon:color-palette">
    <Variant title="Palette" icon="carbon:color-palette" responsive-disabled auto-props-disabled>
      <template #default>
        <div v-for="type in ['grayscale', 'blue', 'green', 'yellow', 'red'] as const" :key="type" class="wrapper">
          <h2>{{ type[0].toUpperCase() + type.slice(1) }}</h2>
          <div class="color-grid">
            <div v-for="{ variable, data } in COLOR_DATA[type]" :key="variable" class="color-container">
              <div class="color-var">{{ variable }}</div>
              <div class="color-preview" :class="viewMode" :style="`--preview-color: var(${variable})`">Aa</div>
              <div class="color-info">
                <div>{{ data.hex }}</div>
                <div>{{ data.rgb }}</div>
                <div>{{ data.hsl }}</div>
              </div>
            </div>
          </div>
        </div>
      </template>
      <template #controls>
        <HstSelect
          v-model="viewMode"
          title="Color display"
          :options="{
            fill: 'Fill',
            border: 'Border',
            text: 'Text',
          }"
        />
      </template>
    </Variant>

    <Variant title="Palette (compact)" icon="carbon:color-palette" responsive-disabled auto-props-disabled>
      <div v-for="type in ['grayscale', 'blue', 'green', 'yellow', 'red'] as const" :key="type" class="wrapper">
        <div class="color-grid compact">
          <div v-for="{ variable } in COLOR_DATA[type]" :key="variable" class="color-container">
            <div v-if="type !== 'grayscale'" class="color-shade">
              {{ variable.slice(variable.lastIndexOf('-') + 1) }}
            </div>
            <div class="color-preview fill" :style="`--preview-color: var(${variable})`" />
          </div>
        </div>
      </div>
    </Variant>

    <Variant title="Functional" icon="carbon:paint-brush" responsive-disabled auto-props-disabled>
      <div v-for="type in ['grayscale'] as const" :key="type" class="wrapper">
        <h2>{{ type[0].toUpperCase() + type.slice(1) }}</h2>
        <div class="color-grid">
          <div v-for="{ variable, mode, data } in COLOR_DATA[type]" :key="variable" class="color-container">
            <div class="color-var">{{ variable }}</div>
            <div class="color-preview" :class="mode || 'fill'" :style="`--preview-color: var(${variable})`">Aa</div>
            <div class="color-info">
              <div>{{ data.hex }}</div>
              <div>{{ data.rgb }}</div>
              <div>{{ data.hsl }}</div>
            </div>
          </div>
        </div>
      </div>
    </Variant>

    <Variant title="Color tester" icon="carbon:chemistry" responsive-disabled auto-props-disabled>
      <template #default>
        <div
          class="contrast-container"
          :style="{
            '--contrast-background': state.background,
            '--contrast-color': state.color,
            '--contrast-font': state.font,
            '--contrast-weight': state.bold ? 'bold' : 'regular',
            '--contrast-size': state.size + 'px',
          }"
        >
          <div ref="backgroundRef" class="contrast-background">
            <div ref="textRef" class="contrast-text">{{ state.text }}</div>
          </div>
        </div>
      </template>
      <template #controls>
        <HstText v-model="state.color" title="Text color" />
        <HstText v-model="state.background" title="Background" />
        <HstText v-model="state.text" title="Text" />
        <HstText v-model="state.font" title="Font" />
        <HstSlider v-model="state.size" :min="8" :max="64" :step="1" title="Font size" />
      </template>
    </Variant>
  </Story>
</template>

<style scoped>
h2 {
  margin-top: 0;
}

.wrapper {
  padding: 16px;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  font-family: 'JetBrains Mono', monospace;
  gap: 40px 16px;
}

.color-grid.compact {
  gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.color-var {
  font-size: 0.9em;
  margin: 0 0 4px 0;
}

.color-shade {
  padding: 4px 16px;
  border-left: 1px var(--text-color) solid;
}

.color-container:last-of-type .color-shade {
  border-right: 1px var(--text-color) solid;
}

.color-preview {
  width: 80px;
  height: 80px;
  margin: 16px 0;
}

.color-preview.fill {
  background-color: var(--preview-color);
  border-radius: 50%;
  font-size: 0;
}

.color-preview.border {
  width: 72px;
  height: 72px;
  border: 4px solid var(--preview-color);
  border-radius: 16px;
  font-size: 0;
}

.color-preview.text {
  color: var(--preview-color);
  font-size: 72px;
}

.compact .color-preview {
  width: 100%;
  height: 40px;
  border-radius: 0;
  margin: 0;
}

.color-info {
  font-size: 0.8em;
  opacity: 0.7;
}

.contrast-background {
  background: var(--contrast-background);
  border-radius: 16px;
  padding: 32px;
}

.contrast-text {
  font-family: var(--contrast-font);
  font-size: var(--contrast-size);
  font-weight: var(--contrast-weight);
  color: var(--contrast-color);
}
</style>

<docs lang="md">
Test 1
</docs>
