<script lang="ts">
import type { ButtonProps } from './Button.vue'

export interface PopoverProps extends ButtonProps {}

export default { inheritAttrs: false }
</script>

<script setup lang="ts">
import { PopoverArrow, PopoverClose, PopoverContent, PopoverPortal, PopoverRoot, PopoverTrigger } from 'radix-vue'
import Button from './Button.vue'
import Clear from '~mdi/clear.svg'

const props = defineProps<PopoverProps>()
</script>

<template>
  <PopoverRoot>
    <PopoverTrigger as-child>
      <Button v-bind="{ ...$attrs, ...props }">
        <slot name="button" />
      </Button>
    </PopoverTrigger>
    <PopoverPortal>
      <PopoverContent side="bottom" :side-offset="5" class="popover-content">
        <slot name="content" />

        <PopoverClose class="popover-close" :aria-label="$t('common.close')">
          <Clear />
        </PopoverClose>
        <PopoverArrow class="popover-arrow" />
      </PopoverContent>
    </PopoverPortal>
  </PopoverRoot>
</template>

<style scoped>
:deep(.popover-content) {
  border-radius: 4px;
  padding: 20px;
  width: 260px;
  background-color: var(--color-white);
  box-shadow:
    hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.theme-dark div :deep(.popover-content) {
  background-color: var(--color-not-quite-black);
}

:deep(.popover-content:focus) {
  box-shadow:
    hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px,
    0 0 0 2px var(--color-blue);
}

:deep(.popover-content[data-state='open'][data-side='top']) {
  animation-name: slideDownAndFade;
}

:deep(.popover-content[data-state='open'][data-side='right']) {
  animation-name: slideLeftAndFade;
}

:deep(.popover-content[data-state='open'][data-side='bottom']) {
  animation-name: slideUpAndFade;
}

:deep(.popover-content[data-state='open'][data-side='left']) {
  animation-name: slideRightAndFade;
}

:deep(.popover-arrow) {
  fill: var(--color-white);
}

.theme-dark div :deep(.popover-arrow) {
  fill: var(--color-not-quite-black);
}

.popover-close {
  all: unset;
  border-radius: 4px;
  height: 24px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: rgba(var(--text-color-rgb), 0.4);
  transition:
    background-color 0.2s,
    fill 0.2s;
}

.popover-close:hover,
.popover-close:focus {
  fill: var(--text-color);
  background-color: rgba(var(--color-red-rgb), 0.2);
}

.popover-close svg {
  width: 16px;
  height: 16px;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
</style>
