<script setup lang="ts">
import Popover from './Popover.vue'

import Home from '~mdi/home.svg'
</script>

<template>
  <Story group="uikit">
    <Variant title="Standard usage" auto-props-disabled>
      <Popover>
        <template #button>Test</template>
        <template #content>
          <div :style="{ display: 'flex', flexDirection: 'column', gap: '10px' }">
            <p class="Text">Dimensions</p>
            <fieldset class="Fieldset">
              <label class="Label" for="width"> Width </label>
              <input id="width" class="Input" defaultValue="100%" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxWidth"> Max. width </label>
              <input id="maxWidth" class="Input" defaultValue="300px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="height"> Height </label>
              <input id="height" class="Input" defaultValue="25px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxHeight"> Max. height </label>
              <input id="maxHeight" class="Input" defaultValue="none" />
            </fieldset>
          </div>
        </template>
      </Popover>
    </Variant>
    <Variant title="With an icon button" auto-props-disabled>
      <Popover icon-button label="Test popover">
        <template #button>
          <Home />
        </template>
        <template #content>
          <div :style="{ display: 'flex', flexDirection: 'column', gap: '10px' }">
            <p class="Text">Dimensions</p>
            <fieldset class="Fieldset">
              <label class="Label" for="width"> Width </label>
              <input id="width" class="Input" defaultValue="100%" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxWidth"> Max. width </label>
              <input id="maxWidth" class="Input" defaultValue="300px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="height"> Height </label>
              <input id="height" class="Input" defaultValue="25px" />
            </fieldset>
            <fieldset class="Fieldset">
              <label class="Label" for="maxHeight"> Max. height </label>
              <input id="maxHeight" class="Input" defaultValue="none" />
            </fieldset>
          </div>
        </template>
      </Popover>
    </Variant>
  </Story>
</template>

<style scoped>
/** Copied from radix-vue's demo */
fieldset,
input,
button {
  all: unset;
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Label {
  font-size: 13px;
  width: 75px;
}

.Input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 13px;
  line-height: 1;
  height: 25px;
  box-shadow: 0 0 0 1px hsl(146, 38.5%, 69%);
}
.Input:focus {
  box-shadow: 0 0 0 2px hsl(151, 40.2%, 54.1%);
}

.Text {
  margin: 0;
  font-size: 15px;
  line-height: 19px;
  font-weight: 500;
}
</style>

<docs lang="md">
> ![INFO]
> The positioning is gracefully handled if the popover doesn't fit, with the appropriate adjustments to the placement
> of the arrow etc.

The color and look of the button can be customised using the `color` and `look` props. You may also specify the
`icon-button` prop if you wish to have only an icon.

> ![WARNING]
> The a11y requirement of icon buttons apply, see the docs for [Button](./Button.story.vue) for more details.
</docs>
