<script setup lang="ts">
import { useSlots } from 'vue'
import { ToastAction, ToastDescription, ToastRoot, ToastTitle } from 'radix-vue'

const props = defineProps<{ altText?: string }>()

if (import.meta.env.DEV) {
  const s = useSlots()
  if (s.action && !props.altText) {
    console.warn('[UI Kit] Missing a11y property `alt-text` on a Toast with an action!')
  }
}
</script>

<template>
  <ToastRoot class="flopui-toast">
    <ToastTitle class="flopui-toast-title">
      <slot name="title" />
    </ToastTitle>
    <ToastDescription class="flopui-toast-description">
      <slot name="description" />
    </ToastDescription>
    <ToastAction v-if="$slots.action && altText" class="flopui-toast-action" :alt-text="altText">
      <slot name="action" />
    </ToastAction>
  </ToastRoot>
</template>

<style>
.flopui-toast {
  background-color: var(--color-white);
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  padding: 15px;
  display: grid;
  grid-template-areas: 'title action' 'description action';
  grid-template-columns: auto max-content;
  column-gap: 15px;
  align-items: center;
}

.theme-dark .flopui-toast {
  background-color: var(--color-black);
}

.flopui-toast[data-state='open'] {
  animation: flopui-toast-slide-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.flopui-toast[data-state='closed'] {
  animation: flopui-toast-hide 100ms ease-in;
}
.flopui-toast[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.flopui-toast[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.flopui-toast[data-swipe='end'] {
  animation: flopui-toast-swipe-out 100ms ease-out;
}

.flopui-toast-title {
  grid-area: title;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1rem;
}

.flopui-toast-description {
  grid-area: description;
  color: var(--text-light);
  font-size: 0.875rem;
  line-height: 1.3;
  margin: 0;
}

.flopui-toast-action {
  all: unset;

  box-sizing: border-box;
  grid-area: action;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  padding: 0 0.625rem;
  height: 1.5rem;

  cursor: pointer;
  font-weight: 500;
  font-size: 0.75rem;
  box-shadow: inset 0 0 0 1px currentColor;
  background-color: rgba(var(--text-color-rgb), 0.1);
  transition: background-color 0.2s;
}

.flopui-toast-action:hover {
  background-color: rgba(var(--text-color-rgb), 0.2);
}

.flopui-toast-action:focus {
  box-shadow: 0 0 0 2px currentColor;
}

@keyframes flopui-toast-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes flopui-toast-slide-in {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }

  to {
    transform: translateX(0);
  }
}

@keyframes flopui-toast-swipe-out {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }

  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}
</style>
