<template>
  <section class="error">
    <h1>404 Page Introuvable</h1>
    <div>
      <p>La page que vous demandez n'existe pas.</p>
    </div>
  </section>
</template>

<style scoped>
div {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

div p {
  color: rgba(80, 6, 0, 1);
  font-weight: bold;
}

h1 {
  font-weight: bolder;
}
</style>
