<script setup lang="ts">
import { FilterType } from '@/composables/filterCourses.js'

import TypeSpecimen from '~mdi/type_specimen.svg'
import DateRange from '~mdi/date_range.svg'
import MenuBook from '~mdi/menu_book.svg'
import School from '~mdi/school.svg'
import SensorDoor from '~mdi/sensor_door.svg'
import Groups from '~mdi/groups.svg'
import Home from '~mdi/home.svg'

defineProps<{ filter: FilterType }>()
</script>

<template>
  <MenuBook v-if="filter === FilterType.MODULE" />
  <Groups v-else-if="filter === FilterType.GROUP" />
  <DateRange v-else-if="filter === FilterType.PERIOD" />
  <School v-else-if="filter === FilterType.TEACHER" />
  <TypeSpecimen v-else-if="filter === FilterType.COURSE_TYPE" />
  <SensorDoor v-else-if="filter === FilterType.ROOM_TYPE" />
  <Home v-else />
</template>

<style scoped>
svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
</style>
