<script setup lang="ts">
import Button, { Look } from '@/components/uikit/Button.vue'
import WarningIcon from '~mdi/warning.svg'

type Props = { unique: boolean }

const override = defineModel<boolean>({ required: true })
defineProps<Props>()
</script>

<template>
  <div v-if="!unique && !override" class="multiple-values">
    <span>{{ $t('form.multipleValues.information') }}</span>
    <Button :look="Look.LINK" @click="override = true">{{ $t('form.multipleValues.edit') }}</Button>
  </div>
  <div v-else>
    <slot />
    <div v-if="!unique" class="warning">
      <WarningIcon class="warning-icon" />
      <div class="warning-message">
        <span>{{ $t('form.multipleValues.warning') }}</span>
        <Button :look="Look.LINK" @click="override = false">{{ $t('form.multipleValues.cancel') }}</Button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.multiple-values {
  font-size: 0.875rem;
}

.warning {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  background-color: rgba(var(--color-yellow-rgb), 0.25);
  border: 1px var(--color-yellow) solid;
  border-radius: 4px;
  margin-top: 0.25rem;
  padding: 0.25rem;
  gap: 0.5em;
}

.warning-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  flex-shrink: 0;
}

.multiple-values > span {
  margin-right: 0.25rem;
}

.warning-message > span {
  margin-right: 0.25rem;
}
</style>
