<script lang="ts">
import type { TagsInputProps } from './TagsInput.vue'

export type TagsInputComboboxValue = string | number

export type TagsInputComboboxOption = {
  value: TagsInputComboboxValue
  name: string
  alias?: string[]
  disabled?: boolean
}

export interface TagsInputComboboxProps extends TagsInputProps {
  options: TagsInputComboboxOption[]
}
</script>

<script setup lang="ts">
import { computed, ref, watch } from 'vue'
import {
  ComboboxAnchor,
  ComboboxContent,
  ComboboxEmpty,
  ComboboxInput,
  ComboboxItem,
  ComboboxItemIndicator,
  ComboboxRoot,
  ComboboxTrigger,
  ComboboxViewport,
  TagsInputInput,
  TagsInputItem,
  TagsInputItemDelete,
  TagsInputItemText,
  TagsInputRoot,
} from 'radix-vue'
import ClearIcon from '~mdi/clear.svg'
import ArrowDown from '~mdi/keyboard_arrow_down.svg'
import Check from '~mdi/check.svg'

const props = defineProps<TagsInputComboboxProps>()

const searchTerm = ref('')

const model = defineModel<TagsInputComboboxValue[]>({ required: true })

const modelValues = computed(() => model.value.map((k) => props.options.find((opt) => opt.value === k)?.name))

watch(
  model,
  () => {
    searchTerm.value = ''
  },
  { deep: true }
)

function filter(_values: TagsInputComboboxValue[], term: string): string[] {
  term = term.toLowerCase()
  return props.options
    .filter(
      (opt) =>
        opt.name.toLowerCase().includes(term) ||
        opt.alias?.find((a) => a.toLowerCase().includes(term)) ||
        opt.value.toString().toLowerCase().includes(term)
    )
    .map((opt) => opt.value as string /* Radix complains otherwise */)
}
</script>

<template>
  <ComboboxRoot v-model="model" v-model:search-term="searchTerm" :filter-function="filter" multiple class="select-root">
    <ComboboxAnchor class="tags-input">
      <TagsInputRoot
        :model-value="model as string[] /* Radix complains otherwise, but it works */"
        delimiter=""
        class="combobox-tags-input"
      >
        <TagsInputItem
          v-for="(item, idx) in model"
          :key="item"
          :value="item as string /* Radix complains otherwise, but it works */"
          class="tags-input-tag"
        >
          <TagsInputItemText class="tag-name">
            <span>{{ modelValues[idx] }}</span>
          </TagsInputItemText>
          <TagsInputItemDelete class="tag-delete">
            <ClearIcon />
          </TagsInputItemDelete>
        </TagsInputItem>

        <ComboboxInput as-child>
          <TagsInputInput :placeholder="placeholder" class="tags-input-field" @keydown.enter.prevent />
        </ComboboxInput>
      </TagsInputRoot>

      <ComboboxTrigger class="combobox-trigger">
        <ArrowDown class="select-icon" />
      </ComboboxTrigger>
    </ComboboxAnchor>

    <ComboboxContent class="select-content combobox-content">
      <ComboboxViewport class="select-viewport">
        <ComboboxEmpty class="select-empty">
          {{ $t('form.searchable.notfound') }}
        </ComboboxEmpty>

        <ComboboxItem
          v-for="{ value, name, disabled } in options"
          :key="value"
          class="select-item"
          :value="value"
          :disabled="disabled"
        >
          <ComboboxItemIndicator class="select-item-indicator">
            <Check />
          </ComboboxItemIndicator>
          <span>{{ name }}</span>
        </ComboboxItem>
      </ComboboxViewport>
    </ComboboxContent>
  </ComboboxRoot>
</template>

<style>
@import '../input.css';
@import '../tagsinput.css';
@import '../select.css';
@import '../combobox.css';

.combobox-tags-input {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  flex: 1;

  max-width: calc(100% - 0.25rem - 1rem);
  overflow: hidden;
}
</style>
