<script lang="ts">
export interface TagsInputProps {
  placeholder?: string
}
</script>

<script setup lang="ts">
import { TagsInputInput, TagsInputItem, TagsInputItemDelete, TagsInputItemText, TagsInputRoot } from 'radix-vue'
import ClearIcon from '~mdi/clear.svg'

const model = defineModel<string[]>({ required: true })

defineProps<TagsInputProps>()
</script>

<template>
  <TagsInputRoot v-model="model" class="tags-input">
    <TagsInputItem v-for="item in model" :key="item" :value="item" class="tags-input-tag">
      <TagsInputItemText class="tag-name" />
      <TagsInputItemDelete class="tag-delete">
        <ClearIcon />
      </TagsInputItemDelete>
    </TagsInputItem>

    <TagsInputInput :placeholder="placeholder" class="tags-input-field" />
  </TagsInputRoot>
</template>

<style>
@import '../tagsinput.css';
</style>
