<script lang="ts">
import { Color } from '@/components/uikit/Button.vue'

export interface AlertDialogProps {
  class?: string
  overlayClass?: string
  confirmColor?: Color
  loading?: boolean
}
</script>

<script setup lang="ts">
import {
  AlertDialogAction,
  AlertDialogCancel,
  AlertDialogContent,
  AlertDialogDescription,
  AlertDialogOverlay,
  AlertDialogPortal,
  AlertDialogRoot,
  AlertDialogTitle,
  AlertDialogTrigger,
} from 'radix-vue'

import Button, { Look } from '@/components/uikit/Button.vue'
import Loader from '@/components/uikit/Loader.vue'

defineEmits<{ action: [] }>()

withDefaults(defineProps<AlertDialogProps>(), { confirmColor: Color.RED, class: void 0, overlayClass: void 0 })
</script>

<template>
  <AlertDialogRoot>
    <AlertDialogTrigger v-if="$slots.trigger" as-child>
      <slot name="trigger" />
    </AlertDialogTrigger>
    <AlertDialogPortal>
      <AlertDialogOverlay :class="['flopui-dialog-overlay', overlayClass]" />
      <AlertDialogContent :class="['flopui-dialog-content', $props.class]">
        <div class="flopui-dialog-header">
          <AlertDialogTitle class="flopui-dialog-title">
            <slot name="title" />
          </AlertDialogTitle>
        </div>
        <div class="flopui-dialog-body">
          <AlertDialogDescription class="flopui-dialog-description">
            <slot name="description" />
          </AlertDialogDescription>
        </div>
        <div class="flopui-dialog-footer">
          <AlertDialogCancel v-if="$slots.cancel" as-child>
            <Button :color="Color.PRIMARY" :look="Look.OUTLINED" :disabled="loading">
              <slot name="cancel" />
            </Button>
          </AlertDialogCancel>
          <AlertDialogAction as-child @click="$emit('action')">
            <Button :color="confirmColor" :look="Look.FILLED" :disabled="loading">
              <Loader v-if="loading" />
              <span>
                <slot name="action" />
              </span>
            </Button>
          </AlertDialogAction>
        </div>
      </AlertDialogContent>
    </AlertDialogPortal>
  </AlertDialogRoot>
</template>

<style>
@import './dialog.css';
</style>
