.flopui-dialog-overlay {
  background-color: var(--color-black);
  position: fixed;
  inset: 0;
  animation: flopui-dialog-overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
  opacity: 0.45;
}

.flopui-dialog-content {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* 50.1% is used to work around an ancient bug in Blink causing blur. translateZ doesn't even work for this one! */
  transform: translateX(-50%) translateY(-50.1%) translateZ(0);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  animation: flopui-dialog-content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.flopui-dialog-content:focus {
  outline: none;
}

.flopui-dialog-header {
  margin-top: 10px;
  justify-self: flex-start;
  padding: 0.5rem 1.5rem;
}

.flopui-dialog-body {
  overflow-y: auto;
  /* 2px vertical padding to work around more ancient bugs in Blink. Oh well! */
  padding: 2px 1.5rem;
}

.flopui-dialog-footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  gap: 1rem;
}

.flopui-dialog-title {
  margin: 0;
  font-weight: 500;
  color: var(--color-not-quite-black);
  font-size: 1.1rem;
}

.flopui-dialog-description {
  margin: 0.25rem 0 1.25rem;
  color: var(--color-not-quite-black);
  font-size: 0.875rem;
  line-height: 1.5;
}

@keyframes flopui-dialog-overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.45;
  }
}

@keyframes flopui-dialog-content-show {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
