<script lang="ts">
export interface DialogProps {
  class?: string
  overlayClass?: string
}
</script>

<script setup lang="ts">
import {
  DialogClose,
  DialogContent,
  DialogDescription,
  DialogOverlay,
  DialogPortal,
  DialogRoot,
  DialogTitle,
  DialogTrigger,
} from 'radix-vue'
import Clear from '~mdi/clear.svg'

defineProps<DialogProps>()
</script>

<template>
  <DialogRoot>
    <DialogTrigger v-if="$slots.trigger" as-child>
      <slot name="trigger" />
    </DialogTrigger>
    <DialogPortal>
      <DialogOverlay :class="['flopui-dialog-overlay', overlayClass]" />
      <DialogContent :class="['flopui-dialog-content', $props.class]">
        <div class="flopui-dialog-header">
          <DialogTitle class="flopui-dialog-title">
            <slot name="title" />
          </DialogTitle>
        </div>
        <div class="flopui-dialog-body">
          <DialogDescription class="flopui-dialog-description">
            <slot name="description" />
          </DialogDescription>
          <slot name="content" />
        </div>
        <div v-if="$slots.footer" class="flopui-dialog-footer">
          <slot name="footer" />
        </div>
        <DialogClose class="flopui-dialog-close" :aria-label="$t('common.close')">
          <Clear />
        </DialogClose>
      </DialogContent>
    </DialogPortal>
  </DialogRoot>
</template>

<style>
@import './dialog.css';

.flopui-dialog-close {
  all: unset;
  border-radius: 4px;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  fill: rgba(var(--text-color-rgb), 0.4);
  cursor: pointer;
  transition:
    background-color 0.2s,
    fill 0.2s;
}

.flopui-dialog-close:hover,
.flopui-dialog-close:focus {
  fill: var(--text-color);
  background-color: rgba(var(--color-red-rgb), 0.2);
}

.flopui-dialog-close svg {
  width: 1rem;
  height: 1rem;
}
</style>
