<script setup lang="ts">
import CourseCreationForm, {
  CourseFormData,
  CourseFormState,
  CreationErrors,
} from '@/components/forms/courseCreation/CourseCreationForm.vue'
import { ref } from 'vue'

const DEMO_DATAS = {
  modules: [
    { value: 1, name: 'UE1', alias: ['MAAR'] },
    { value: 2, name: 'UE2', alias: ['TIR'] },
    { value: 3, name: 'UE3', alias: ['PROJET'] },
    { value: 4, name: 'UE4', alias: ['ILU3'] },
  ],
  groups: [
    { value: 1, name: 'CMA' },
    { value: 2, name: 'CMB' },
    { value: 3, name: 'TDA1' },
    { value: 4, name: 'TDA2' },
    { value: 5, name: 'TDB1' },
    { value: 6, name: 'TDB2' },
  ],
  tutors: [
    { value: 1, name: 'Professeur 1', alias: ['PR1'] },
    { value: 2, name: 'Professeur 2', alias: ['PR2'] },
    { value: 3, name: 'Professeur 3', alias: ['PR3'] },
    { value: 4, name: 'Professeur 4', alias: ['PR4'] },
    { value: 5, name: 'Professeur 5', alias: ['PR5'] },
  ],
  periods: [
    { value: 1, name: 'W1' },
    { value: 2, name: 'W2' },
    { value: 3, name: 'W3' },
    { value: 4, name: 'W4' },
    { value: 5, name: 'W5' },
  ],
  roomTypes: [
    { value: 1, name: 'Multimedia', alias: ['Info'] },
    { value: 2, name: 'Cours', alias: ['TD'] },
    { value: 3, name: 'Amphitheatre', alias: ['CM'] },
    { value: 4, name: 'Laboratoire', alias: ['TP'] },
  ],
  courseTypes: [
    { value: 1, name: 'TD' },
    { value: 2, name: 'TP' },
    { value: 3, name: 'CM' },
    { value: 4, name: 'Examen' },
  ],
}

const ERRORS = ref<CreationErrors>({
  courseTypes: null as string | null,
  modules: null as string | null,
  tutors: null as string | null,
  groups: null as string | null,
  courseDuration: null as string | null,
  coursesNumber: null as string | null,
})

const formData = ref<CourseFormData>({
  courseTypes: [],
  modules: [1],
  tutorAuto: false,
  tutors: [],
  suppTutors: [3],
  groupsPreFilled: false,
  groupSubSelection: false,
  groups: [],
  periods: [2],
  courseDurationHours: 1,
  courseDurationMinutes: 1,
  roomType: -1,
  comment: '',
  coursesNumber: 1,
})
</script>

<template>
  <Story>
    <Variant title="Single Form">
      <CourseCreationForm
        v-model="formData"
        :form-state="CourseFormState.SINGLE"
        :datas="DEMO_DATAS"
        :errors="ERRORS"
      />
    </Variant>
    <Variant title="Global Form">
      <CourseCreationForm
        v-model="formData"
        :form-state="CourseFormState.GLOBAL"
        :datas="DEMO_DATAS"
        :errors="ERRORS"
      />
    </Variant>
    <Variant title="Propagated Form">
      <CourseCreationForm
        v-model="formData"
        :form-state="CourseFormState.PROPAGATED"
        :datas="DEMO_DATAS"
        :errors="ERRORS"
      />
    </Variant>
  </Story>
</template>
