<script lang="ts">
const enum CreationState {
  CLOSED,
  GLOBAL_STEP,
  PROPAGATED_STEP,
  SUBMITTING,
  ERRORED,
}
</script>

<script setup lang="ts">
import type { Course, CourseCreateData } from '@/ts/type'
import type { CourseFormData, CreationErrors } from '@/components/forms/courseCreation/CourseCreationForm.vue'
import { computed, ref, watch } from 'vue'
import { storeToRefs } from 'pinia'

import { useCourseStore } from '@/stores/timetable/course'
import { useCourseModuleStore } from '@/stores/timetable/courseModule'
import { useGroupStore } from '@/stores/timetable/group'
import { useTutorStore } from '@/stores/timetable/tutor'
import { usePeriodStore } from '@/stores/timetable/period'
import { useRoomStore } from '@/stores/timetable/room'
import { useCourseTypeStore } from '@/stores/timetable/courseType'
import { useSelectedCourseStore } from '@/stores/timetable/selectedCourse'

import { CourseFormState } from '@/components/forms/courseCreation/CourseCreationForm.vue'
import CourseCreationForm from '@/components/forms/courseCreation/CourseCreationForm.vue'
import DialogButton from '@/components/uikit/dialog/DialogButton.vue'
import { Color } from '@/components/uikit/Button.vue'
import Button from '@/components/uikit/Button.vue'
import Loader from '@/components/uikit/Loader.vue'

const ERRORS_CLEAR: CreationErrors = {
  courseTypes: null as string | null,
  modules: null as string | null,
  tutors: null as string | null,
  groups: null as string | null,
  courseDuration: null as string | null,
  coursesNumber: null as string | null,
}

const courseStore = useCourseStore()
const courseTypeStore = useCourseTypeStore()
const roomStore = useRoomStore()
const moduleStore = useCourseModuleStore()
const tutorStore = useTutorStore()
const groupStore = useGroupStore()
const periodStore = usePeriodStore()

const NULL_ID = -1

const formData = ref<CourseFormData>({
  courseTypes: [],
  modules: [],
  tutorAuto: false,
  tutors: [],
  suppTutors: [],
  groupsPreFilled: false,
  groupSubSelection: false,
  groups: [],
  periods: [],
  courseDurationHours: 2,
  courseDurationMinutes: 0,
  roomType: NULL_ID,
  comment: '',
  coursesNumber: 1,
})

const selectedCourseStore = useSelectedCourseStore()
const { selectedCourses } = storeToRefs(selectedCourseStore)

const courseCreationState = ref(CreationState.CLOSED)

const datas = computed(() => ({
  modules: moduleStore.courseModules.map((m) => ({ value: m.id, name: m.name, alias: [m.abbrev] })),
  groups: groupStore.groups.map((g) => ({ value: g.id, name: g.name })),
  tutors: tutorStore.tutors.map((t) => ({
    value: t.id,
    name: `${t.firstname} ${t.lastname}`,
    alias: [t.username],
  })),
  periods: periodStore.periods.map((p) => ({ value: p.id, name: p.name })),
  roomTypes: roomStore.roomsFetched.map((r) => ({ value: r.id, name: r.name, alias: [r.abbrev] })),
  courseTypes: courseTypeStore.courseTypes.map((c) => ({ value: c.id, name: c.name })),
}))

const errors = ref(ERRORS_CLEAR)

function initData() {
  courseCreationState.value = CreationState.GLOBAL_STEP

  if (selectedCourses.value.length >= 1) {
    // gets first selected course
    const baseCourse = selectedCourses.value[0]

    if (selectedCourseStore.unique.type) formData.value.courseTypes = [baseCourse.type.id]
    if (selectedCourseStore.unique.module) formData.value.modules = [baseCourse.module.id]
    if (selectedCourseStore.unique.tutor && baseCourse.tutor) formData.value.tutors = [baseCourse.tutor.id]
    if (selectedCourseStore.unique.suppTutors) formData.value.suppTutors = baseCourse.supp_tutors.map((st) => st.id)
    if (selectedCourseStore.unique.groups) formData.value.groups = baseCourse.groups.map((g) => g.id)
    if (selectedCourseStore.unique.period) formData.value.periods = [baseCourse.period?.id ?? -1]
    if (selectedCourseStore.unique.duration) {
      const [baseHours, baseMinutes] = baseCourse.duration.split(':').map(Number)
      formData.value.courseDurationHours = baseHours
      formData.value.courseDurationMinutes = baseMinutes
    }
  }
}

function pastStep() {
  courseCreationState.value = CreationState.GLOBAL_STEP
  formData.value.groupsPreFilled = false
}

function nextStep() {
  courseCreationState.value = CreationState.PROPAGATED_STEP
  if (formData.value.groups.length >= 1) formData.value.groupsPreFilled = true
}

watch(
  () => formData.value.courseTypes,
  () => (errors.value.courseTypes = null),
  { deep: true }
)
watch(
  () => formData.value.modules,
  () => (errors.value.modules = null),
  { deep: true }
)
watch(
  () => formData.value.suppTutors,
  () => (errors.value.tutors = null),
  { deep: true }
)
watch(
  () => formData.value.groups,
  () => (errors.value.groups = null),
  { deep: true }
)
watch(
  () => formData.value.courseDurationHours,
  () => (errors.value.courseDuration = null)
)
watch(
  () => formData.value.courseDurationMinutes,
  () => (errors.value.courseDuration = null)
)
watch(
  () => formData.value.coursesNumber,
  () => (errors.value.coursesNumber = null)
)

async function submitForm() {
  courseCreationState.value = CreationState.SUBMITTING

  const formDataValue = formData.value
  const coursesToCreate: CourseCreateData[] = []
  const createdCourses: Course[] = []

  const addPropertyToCourses = (property: keyof CourseCreateData, values: number[], asIdDict?: boolean) => {
    const newCourses: CourseCreateData[] = []

    values.forEach((value, index) => {
      if (index === 0) {
        // @ts-expect-error -- This is a nightmare to get working with the type system considering how it's written...
        coursesToCreate.forEach((course) => (course[property] = asIdDict ? [{ id: value }] : value))
      } else {
        const coursesCopy = coursesToCreate.map((course) => ({
          ...course,
          [property]: asIdDict ? [{ id: value }] : value,
        }))
        newCourses.push(...coursesCopy)
      }
    })

    coursesToCreate.push(...newCourses)
  }

  if (formDataValue.courseTypes[0] === NULL_ID) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.courseTypes = 'required'
  }

  if (formDataValue.modules[0] === NULL_ID) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.modules = 'required'
  }

  if (
    formDataValue.tutors[0] != NULL_ID &&
    formDataValue.suppTutors.find((tutorId) => tutorId == formDataValue.tutors[0])
  ) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.tutors = 'conflict'
  }

  if (formDataValue.groups.length === 0) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.groups = 'required'
  }

  //if (formDataValue.roomType === NULL_ID){
  //  courseCreationState.value = CreationState.ERRORED
  //  errors.value.roomType = 'required'
  //}

  if (!formDataValue.courseDurationHours && !formDataValue.courseDurationMinutes) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.courseDuration = 'required'
  }

  if (formDataValue.coursesNumber === 0 || !Number.isInteger(formDataValue.coursesNumber)) {
    courseCreationState.value = CreationState.ERRORED
    errors.value.coursesNumber = 'required'
  }

  // Halt if we have errors
  if (courseCreationState.value === CreationState.ERRORED) return

  // Fill Courses with Course Types
  formDataValue.courseTypes.forEach((courseTypeId) => {
    const fillerCourse: CourseCreateData = {
      type_id: courseTypeId,
      module_id: 0,
      tutor_id: void 0,
      supp_tutors: [],
      groups: [],
      period_id: void 0,
      duration: '',
      room_type_id: void 0,
      modulesupp_id: void 0,
      pay_module_id: void 0,
      is_graded: false,
    }

    coursesToCreate.push(fillerCourse)
  })

  // Fill Courses with Modules
  addPropertyToCourses('module_id', formDataValue.modules)

  // Fill Courses with Tutors
  if (formDataValue.tutorAuto) {
    // TODO: Implement logic for automatic tutor assignment
  } else {
    addPropertyToCourses('tutor_id', formDataValue.tutors)
  }

  // Fill Courses with Groups
  if (formDataValue.groupsPreFilled) {
    coursesToCreate.forEach((course) => (course.groups = formDataValue.groups.map((id) => ({ id }))))
  } else if (formDataValue.groupSubSelection) {
    // TODO: Implement logic for group sub-selection
  } else {
    addPropertyToCourses('groups', formDataValue.groups, true)
  }

  // Fill Courses with Periods
  addPropertyToCourses('period_id', formDataValue.periods)

  // Fill Courses with SuppTutors and duration
  coursesToCreate.forEach((course) => {
    course.supp_tutors = formDataValue.suppTutors.map((id) => ({ id }))
    course.duration =
      formDataValue.courseDurationHours.toString().padStart(2, '0') +
      ':' +
      formDataValue.courseDurationMinutes.toString().padStart(2, '0') +
      ':00'
  })

  // Create all Courses
  for (let i = 0; i < formDataValue.coursesNumber; i++) {
    for (const course of coursesToCreate) {
      const newCourse = await courseStore.postCourse(course)
      createdCourses.push(newCourse)
    }
  }

  selectedCourseStore.selectedCourses = createdCourses
  courseCreationState.value = CreationState.CLOSED
}
</script>

<template>
  <DialogButton
    class="creation-dialog"
    :open="courseCreationState !== CreationState.CLOSED"
    @update:open="
      courseCreationState === CreationState.CLOSED ? initData() : (courseCreationState = CreationState.CLOSED)
    "
  >
    <template #button>{{ $t('form.creation.button.multiple') }}</template>
    <template #title>{{ $t('form.creation.title.multiple') }}</template>
    <template #description>
      <div class="description">
        <div class="step-details">
          {{ $t('form.step') }} {{ courseCreationState === CreationState.GLOBAL_STEP ? 1 : 2 }}/2
        </div>
        <div class="hints">
          <div v-if="courseCreationState === CreationState.GLOBAL_STEP">
            {{ $t('form.creation.instruction.global') }}
          </div>
          <div v-else>
            {{ $t('form.creation.instruction.propagated') }}
          </div>
        </div>
      </div>
    </template>
    <template #content>
      <div class="container">
        <CourseCreationForm
          v-if="courseCreationState === CreationState.GLOBAL_STEP"
          v-model="formData"
          :form-state="CourseFormState.GLOBAL"
          :datas="datas"
          :errors="errors"
        />
        <CourseCreationForm
          v-else
          v-model="formData"
          :form-state="CourseFormState.PROPAGATED"
          :datas="datas"
          :errors="errors"
        />
      </div>
    </template>
    <template #footer>
      <Button v-if="courseCreationState === CreationState.GLOBAL_STEP" @click="nextStep()">
        {{ $t('form.next') }}
      </Button>
      <Button
        v-if="courseCreationState !== CreationState.GLOBAL_STEP"
        :disabled="courseCreationState === CreationState.SUBMITTING"
        @click="pastStep()"
        >{{ $t('form.return') }}</Button
      >
      <Button
        v-if="courseCreationState !== CreationState.GLOBAL_STEP"
        :color="Color.GREEN"
        :disabled="courseCreationState === CreationState.SUBMITTING"
        @click="submitForm"
      >
        <template v-if="courseCreationState === CreationState.SUBMITTING">
          <Loader />
          <span>{{ $t('form.saving') }}</span>
        </template>
        <template v-else>{{ $t('form.creation.generate') }}</template>
      </Button>
    </template>
  </DialogButton>
</template>

<style>
.flopui-dialog-content.creation-dialog {
  max-width: 640px;
  max-height: 95vh;
}
</style>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
</style>
