<script setup lang="ts">
type Props = {
  name: string
  unique: boolean
}

defineProps<Props>()
</script>

<template>
  <i18n-t keypath="common.basicInformationDisplay" tag="li" scope="global">
    <b>{{ name }}</b>

    <template v-if="unique"><slot /></template>
    <i v-else>{{ $t('common.multipleValues') }}</i>
  </i18n-t>
</template>
