<script setup lang="ts">
import type { Course } from '@/ts/type'

import { computed } from 'vue'
import { storeToRefs } from 'pinia'

import Button, { Look } from '@/components/uikit/Button.vue'
import DropdownButton from '@/components/uikit/dropdown/DropdownButton.vue'
import DropdownItem from '@/components/uikit/dropdown/DropdownItem.vue'
import ButtonGroup from '@/components/uikit/ButtonGroup.vue'
import DropdownSeparator from '@/components/uikit/dropdown/DropdownSeparator.vue'
import CourseInformationItem from './CourseInformationItem.vue'

import { useSelectedCourseStore } from '@/stores/timetable/selectedCourse'

import Edit from '~mdi/edit_note.svg'
import MoreVert from '~mdi/more_vert.svg'

const selectedCourseStore = useSelectedCourseStore()
const { selectedCourses, isModifying } = storeToRefs(selectedCourseStore)
const coursePropsUnicity = selectedCourseStore.unique

const course = computed<Course>(() => selectedCourses.value[0])

const emit = defineEmits<{ deleteCourses: [] }>()

function duplicateCourses() {
  window.alert('This is not implemented yet!')
  // Fixme : The API must containt the room_type. The room_type is not in the course object
  /*
  console.log(selectedCourses.value)
  selectedCourses.value.forEach((course) => {
    const courseCopy = course
    delete courseCopy.id;
    courseStore.postCourse(courseCopy)
  })
  */
}

function openInDependencyTree() {
  window.alert('This is not implemented yet!')
}
</script>

<template>
  <div class="course-information-container">
    <div v-if="selectedCourses.length === 1" class="selection-option">Sélection unique</div>
    <div v-else class="selection-option">Sélection multiple</div>

    <div class="buttons-container">
      <ButtonGroup>
        <Button @click="isModifying = true">
          <Edit />
          <span>{{ $t('common.edit') }}</span>
        </Button>
        <DropdownButton
          :look="Look.OUTLINED"
          no-dropdown-icon
          icon-button
          :label="$t('common.seeMoreActionsLabelButton')"
        >
          <template #button>
            <MoreVert />
          </template>
          <template #items>
            <DropdownItem disabled @click="openInDependencyTree()">
              {{ $t('management.courses.seeInDependencyTree') }}
            </DropdownItem>
            <DropdownSeparator />
            <DropdownItem @click="isModifying = true">{{ $t('common.edit') }}</DropdownItem>
            <DropdownItem disabled @click="duplicateCourses()">{{ $t('common.duplicate') }}</DropdownItem>
            <DropdownSeparator />
            <DropdownItem class="danger" @click="emit('deleteCourses')">{{ $t('common.delete') }}</DropdownItem>
          </template>
        </DropdownButton>
      </ButtonGroup>
    </div>

    <ul class="information">
      <CourseInformationItem :name="$t('management.courses.module.simple')" :unique="coursePropsUnicity.module">
        <span>{{ course.module.name }}</span>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.courseType.simple')" :unique="coursePropsUnicity.type">
        <span>{{ course.type.name }}</span>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.tutor.simple')" :unique="coursePropsUnicity.tutor">
        <span v-if="course.tutor">{{ course.tutor.first_name }} {{ course.tutor.last_name }}</span>
        <i v-else>{{ $t('management.courses.undefined') }}</i>
      </CourseInformationItem>

      <CourseInformationItem
        v-if="course.supp_tutors.length || !coursePropsUnicity.suppTutors"
        :name="$t('management.courses.suppTutors.simple')"
        :unique="coursePropsUnicity.suppTutors"
      >
        <span>{{ course.supp_tutors.map((t) => `${t.first_name} ${t.last_name}`).join(', ') }}</span>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.group.simple')" :unique="coursePropsUnicity.groups">
        <span>{{ course.groups.map((g) => g.name).join(', ') }}</span>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.period.simple')" :unique="coursePropsUnicity.period">
        <span v-if="course.period">{{ course.period.name }}</span>
        <i v-else>{{ $t('management.courses.undefined') }}</i>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.duration.simple')" :unique="coursePropsUnicity.duration">
        <span>{{ course.duration }}</span>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.comment.simple')" :unique="true">
        <span><i>Not yet implemented!</i></span>
      </CourseInformationItem>

      <CourseInformationItem :name="$t('management.courses.constraint.simple')" :unique="true">
        <span><i>Not yet implemented!</i></span>
      </CourseInformationItem>
    </ul>
  </div>
</template>

<style scoped>
.course-information-container {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;
}

/* todo: move to dropdown item */
.danger {
  color: var(--color-red);
}

.danger:hover {
  background-color: var(--color-red);
  color: var(--color-not-quite-black);
}
/* end: move to dropdown item */

.information {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin: 16px 0;
  gap: 4px;
}

.selection-option {
  font-size: 1.5rem;
  font-weight: 800;
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
}
</style>
